@{
    ViewBag.Title = "CreateUser";
}

<h2>Create User</h2>
<br /><br />
@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    <div class="row">
        <div>
            <label class="control-label">User Email</label>
            <input type="text" name="txtEmail" class="form-control" />
            <br />
            <label class="control-label">Password</label>
            <input type="text" name="txtPassword" class="form-control" />

        </div>


    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
         
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-warning" })
        </div>

    </div>





}