@{
    ViewBag.Title = "CreateRole";
}
<br />
<h2>Create Role</h2>
<hr />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm("NewRole", "Admin", FormMethod.Post))
{
    <div class="row">
        <div>
            @Html.ValidationSummary()
            <label class="control-label">Role Name</label>

            @Html.TextBox("RoleName", null, new { @class = "form-control valid", @data_val = "true", @data_val_required = "RoleName is a required field!" })
            @*<input type="text" name="RoleName" class="form-control" />*@

            <br />
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("All Roles", "multidata", "ShowData", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-warning" })

        </div>
    </div>
}