
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>
<br />
<br />
<div>
    @Html.ActionLink("Create User", "CreateUser", "Admin", null, new { @class = "btn btn-info" })
    <br /><br />
    @Html.ActionLink("Create Role", "CreateRole", "Admin", null, new { @class = "btn btn-info" })
    <br /><br />
    @Html.ActionLink("Assign Role", "AssignRole", "Admin", null, new { @class = "btn btn-info" })

</div>
