
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<br />
<ul>
    <li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
    <br />
    <li>@Html.ActionLink("Create Role", "CreateRole", "Admin")</li>
    <br />
    <li>@Html.ActionLink("Assign Role", "AssignRole", "Admin")</li>

</ul>
