@{
    ViewBag.Title = "Admin-Section";
}
<br />
<br />

<h3>Admin Arena</h3>
<hr />
<br />
<br />
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Create A New User", "CreateUser", "Account", null, new { @class = "btn btn-info btn-lg btn-block" })<br /><br />
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Create A New Role", "CreateRole", "Admin", null, new { @class = "btn btn-primary btn-lg btn-block" })<br /><br />
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Assign User To A Role", "AssignRole", "Admin", null, new { @class = "btn btn-success btn-lg btn-block" })<br /><br />
    </div>
    <div class="col-md-6">
        @Html.ActionLink("View Users With Roles", "UsersWithRoles", "ManageUsers", null, new { @class = "btn btn-warning btn-lg btn-block" })

    </div>
</div>