@model CSE_DEPARTMENT.ViewModel.Multipledata

@{
    ViewBag.Title = "Multidata2";
}

<h2>All Users</h2>
<br />
<br />
<div>
    @{WebGrid obj1 = new WebGrid(source: Model.AspNetUser, canPage: true, rowsPerPage: 10);}
    @obj1.GetHtml()

</div>

@Html.ActionLink("Back To List", "Index","Admin", null, new { @class = "btn btn-warning" })