@model List<CSE_DEPARTMENT.Models.AspNetUser>
@{
    Layout = null;
}
<title>All Users</title>
<h2 class="container"></h2>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 15pt;
            color: #050100;
            background-image: url('../../Images/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
        }

        .buttonback {
            text-align: center;
        }
    </style>
</head>




@{
    var wgrid = new WebGrid(source: Model, rowsPerPage: 5);

}
<body>
    <br />



    <h2 class="text-center"><b>All Users</b></h2>

    <br />
    <div class="container">
        @wgrid.GetHtml(tableStyle: "table table-bordered table-striped", htmlAttributes: new { id = "wgrid" },
        columns: wgrid.Columns(
            wgrid.Column(columnName: "Id", header: "ID"),
            wgrid.Column(columnName: "Email", header: "Email"),
            wgrid.Column(columnName: "EmailConfirmed", header: "EmailConfirmed"),
            wgrid.Column(columnName: "PhoneNumber", header: "PhoneNumber"),
            wgrid.Column(columnName: "PhoneNumberConfirmed", header: "PhoneNumberConfirmed"),
            wgrid.Column(columnName: "TwoFactorEnabled", header: "TwoFactorEnabled"),
            wgrid.Column(header: "Action", format:@<a href="/ShowData/Delete/@item.ID" class="btn btn-danger">Delete</a>)))
    </div>
    <div class=" buttonback">
        @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-info btn-lg" })
    </div>
</body>
<br />
<div class="text-center">
    <footer>

        <p><b>&copy; @*@DateTime.Now.Year*@ DEVELOPERS TEAM, CSE</b></p>
        <br />

    </footer>
</div>