@model IEnumerable<CSE_DEPARTMENT.ViewModel.Users_in_Role_ViewModel>


@{
    ViewBag.Title = "Users With Roles";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #050100;
    }

    .buttonback {
        text-align: center;
    }
</style>




<body>
    <br />
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h2>Users List</h2>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Search Here</a>

                    </div>
                    <div class="collapse navbar-collapse">


                        @using (Html.BeginForm("UsersWithRoles", "ManageUsers", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                        {
                            <div class="form-group">
                                <input type="text" name="search" id="txtsearch" class="form-control" placeholder="Enter Email Address" />
                            </div>

                        }
                        @*<input type="text" id="txtsearch" placeholder="Enter Email Address" />*@



                    </div>
                </div>
            </nav>

        </div>
        <!-- /.box-header -->

        <div class="panel-body">

            <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
                <thead>
                    <tr>
                        <td><b>Username</b></td>
                        <td><b>Email</b></td>
                        <td><b>Roles</b></td>
                    </tr>
                </thead>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>

                    </tr>

                }

            </table>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <script>
                $("#txtsearch").on("keyup", function () {
                    var txtenter = $(this).val();
                    $("table tr").each(function (results) {
                        if (results !== 0) {
                            var id = $(this).find("td:nth-child(2)").text();
                            if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }
                        }
                    });
                });


            </script>






        </div>
        @*<a class="scroll-to-top rounded" href="#page">
                <i class="fas fa-angle-double-up"></i>
            </a>*@

    </div>

    <div class=" buttonback">
        @Html.ActionLink("Back To List", "Index", "Admin", null, new { @class = "btn btn-info btn-lg" })
    </div>


</body>